<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCop Rules" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1572" Action="None" />
    <Rule Id="CS1573" Action="None" />
    <Rule Id="CS1591" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1606" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1612" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1616" Action="None" />
    <Rule Id="SA1617" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1622" Action="None" />
    <Rule Id="SA1627" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1649" Action="None" />
  </Rules>
</RuleSet>